.hr {
  width: 100%;
  height: 1em;
}
.error {
  color: #d9534f;
}
.jumbotron {
  margin-bottom: 1rem;
}
.progress {
  margin-bottom: 0;
}
.pointer {
  cursor: pointer;
}
.pointer-icon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAfUlEQVQ4T9WTSxLAIAhD8eTCydtJp3T8ELTd1aWGJyFDEXJU9VDVwt79PhSguNYqZiYryA8A8JrZWFrwWTDQNoCBXgPGdB4Aomszh5CdNt4O4EUQfALgx6zQOwo7uKd82VhBKMAhu+1DP6Xgw2SQcT/SGMcUouWigGTNu5oTXyJ/EV9DZ/kAAAAASUVORK5CYII=');
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.top-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.alert-top-fixed {
  position: fixed;
  top: 0;
  left: 50%;
  width: 200px;
  margin: 0 0 0 -100px;
  padding: 0 15px;
  z-index: 1;
}

.text-muted a {
  color: #4280B5;
}

.word-wrap {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
